/* Color Pallette
Black = #0D0D0D
Light = #F2F2F2
Dark Green = #7ABFBF
Light Green = rgba(122, 191, 191, .5)
50% transparency
Orange = #EB5428

*/

/*  Global Set Up Styles - Responsive - Small screen first with @media modifications*/

html {
    box-sizing: border-box;
    
}
*, *:before, *after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}
html {
    background-color: rgba(122, 191, 191, .5);
}

html, body {
    margin:  0px;
    padding: 0px;
    border: 0px;
   
}
/* Set up fonts for project */
h1, h2, h3, nav a, nav span, figcaption, menu li, #social li, footer {
    font-family: 'Bebas Neue', cursive;
} 
nav a, nav span, figcaption, menu li, #social li, footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
p, dd, li, nav, input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
dt {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
/* Layout for small screen first */
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}
.container > * {
    grid-column: 1 / span 12;
    grid-row: 1;
}
.nav-container {
    grid-column: 1 / 13;
    grid-row: 1;
}
#sideNav {
    grid-column: 1 / 13;
    grid-row: 2;
}
.main {
    grid-column: 1 / 13;
    grid-row: 3;
}
.main img {
    width: 414px;
}


#side_Dishes {
    grid-column: 1 / 13;
    grid-row: 4;
}
.footer-container {
    grid-column: 1 / 13;
    grid-row: 5;
}
.hamburger {
    grid-column: 1 / 3;
    grid-row: 1;
}
.right_icon  {
    grid-column: 9 / 13;
    grid-row: 1;

} 
article img {
    float: left;
    margin: 10px;
    padding-right: 20px;
    padding-top: 0;

}



body {
   width: 414px;
   background-color: #F2F2F2;
   color: #0D0D0D;
   margin: 0 auto;
}
body h1, h2 {
    display: flex;
    justify-content: center;
}
header {
    padding-top: 65px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
}
[href="#home"] {
position: absolute;
top: 0;
left: 107px;
padding: 10px 5px; 
background-color: #EB5428;
width: 200px;
height: 60px;
display: flex;
justify-content: center;

}
body svg {
    height: 60px;
    width: 61px;

}

nav menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav h2 {
    visibility: hidden;
    height: 1px;
}
nav img {
    visibility: hidden;
    width: 5px;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h1 {
    line-height: normal;
    
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
}
nav {
    width: 414px;
    height: 90px;
    position: absolute;
    top: 0;
    z-index: 1;
    text-transform: uppercase;  
   
}



menu {
    position: absolute;
    top: 10px;
    width: 400px;
    background-color: #F2F2F2;
    
}

menu {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    
}

menu li a {
    display: block;
    padding: 0px 0px;
    text-decoration: none;
}
menu a:hover, input:hover {
    background-color: #EB5428;
    color:#F2F2F2;
}
label {
    cursor: pointer;
    display: block;
    padding: 10 px 20px;
    margin-top: -10px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span {
    background-color: #F2F2F2; 
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background-color: #F2F2F2;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;

}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
   

}
input:checked ~ label span {
    background: transparent;
  

}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before,
input:checked ~ label:not(.steps) span:after {
    top: 0;
}
/*  Main Section and Side Bars*/
#main_Container {
    line-height: 1.5em;
    margin: 3px 8px;
}
/* .search {
    overflow: hidden;
    background-color: #F2F2F2;

}
.search input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;

} */
.right_icon {
    position:absolute;
    left: 370px;
    top: 20px;

}
#sideNav li {
  
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    display: flex;
    justify-content: center;
    /* flex: 1 0 60px;
    width: 414px; */
   
}
#sideNav ul {
    width: 414px;
    display: flex;
    padding: 0;
    margin: 0;
   
    
} 
#ingredients {
    line-height: 2em;
}
#directions {
    line-height: 1.5em;
}


#side_Dishes {
    background-color: #7ABFBF;
}
#side_Dishes img {
    width: 25%;
    padding-left: 10px;
}

menu {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}

label {
    cursor:  pointer;
    display: inline-block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #F2F2F2;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

label span:before {
    top: 5px;
}

label span:after {
    top: -5px;
}
input {
    display: none;
}

input:checked ~ menu {
    max-height: 500px;
}

input:checked label span {
    background: transparent;
}

input:checked ~ label span::before {
    transform: rotate(-45deg);
}

input:checked ~ label apan::after {
    transform: arotate(45deg);
}
input checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

footer h2 {
    visibility: hidden;
    height: 1px; 
}
.footer-container ul {
    
    display: flex;
    flex-direction: row;
    flex: 0 1 20%;
  
    
    
} 
footer img {
    width: 50%;
  
}
svg {
    width:80px;
}
