/* Color Pallette
Black = #0D0D0D
Light = #F2F2F2
Dark Green = #7ABFBF
Light Green = rgba(122, 191, 191, .5)
50% transparency
Orange = #EB5428

*/

/*  Global Set Up Styles - Responsive - Small screen first with @media modifications*/

html {
    box-sizing: border-box;
    
}
*, *:before, *after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}
html {
    background-color: rgba(122, 191, 191, .5);
}

html, body {
    margin:  0px;
    padding: 0px;
    border: 0px;
   
}
/* Set up fonts for project */
h1, h2, h3, nav a, nav span, figcaption, menu li, #social li, footer {
    font-family: 'Bebas Neue', cursive;
} 
nav a, nav span, figcaption, menu li, #social li, footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
p, dd, li, nav, input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
dt {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
/* Layout for small screen first */
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}
.container > * {
    grid-column: 1 / span 12;
    grid-row: 1;
}
.nav-container {
    grid-column: 1 / 13;
    grid-row: 1;
}
#sideNav {
    grid-column: 1 / 13;
    grid-row: 2;
}
#sideNav h1 {
   
    grid-column: 4 / 10;
    grid-row: 2;

}
.main {
    grid-column: 1 / 13;
    grid-row: 3;
}
.main img {
    width: 414px;
}
 [for="site-search"]{
    grid-column: 5 / 10;
    grid-row: 3;
}

#side_Dishes {
    grid-column: 1 / 13;
    grid-row: 4;
}
.footer-container {
    grid-column: 1 / 13;
    grid-row: 5;
}
.hamburger {
    grid-column: 2 / 3;
    grid-row: 2;
    margin-left: 20px;
}
.right_icon  {
    grid-column: 9 / 13;
    grid-row: 1;
   

} 
article img {
    float: left;
    margin: 10px;
    padding-right: 20px;
    padding-top: 0;

}

#Details dt {
    float: left;
    padding: 0 20px;
    

}


body {
   width: 414px;
   background-color: #F2F2F2;
   color: #0D0D0D;
   margin: 0 auto;
}
body h1, h2 {
    display: flex;
    justify-content: center;
}
header {
    padding-top: 65px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
}
header h1 {
    line-height: normal;
}

 /* .search-bar label {
    display: block;
    font: 1rem 'Montserrat', sans-serif;
    display: flex;
    position:absolute;
    top: 20px;
    left: 125px;
} */
/* input, label {
    margin: .4rem 0;

} */
/* form {
    max-width: 250px;
    margin: 2rem auto;
    font-family:'Montserrat', sans-serif; 
}
.search-bar {
  grid-column: 4 / 10;
  grid-row: 2;
    margin-bottom: 1rem;
    width: 250px;
    height: 1rem;
    outline: black 1px;
    background-color: #F2F2F2;
    text-transform: capitalize;
    font-family:'Montserrat', sans-serif; 
    font-weight: 700;
} */

#ratings_container {
    width: 20px;
    width: 130px;
    display: flex;
    flex: 1 0 1fr;
    float: right;
   margin-right: 10px;
  
}
#ratings_container + p {
    font-weight: 700;
}



[href="#home"] {
position: absolute;
top: 0;
left: 207px;
padding: 10px 5px; 
background-color: #EB5428;
width: 180px;
max-width: 180px;
height: 70px;
display:flex;
justify-content: center;

}
#home svg {
    position: absolute;
    left: 207px;
    top: 0;
}

body svg {
    height: 60px;
    width: 61px;
    

}

/* nav menu {
    list-style: none;
    margin: 0;
    padding: 0;
} */
nav h2 {
    visibility: hidden;
    height: 1px;
}
nav img {
    visibility:hidden;
    width: 5px;
}

h1, h2, h3 {
    text-transform: uppercase;
    
}

h1 {
    line-height: normal;
    
}

h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 25px;
 
}
/* .nav_container h3 {
    margin: 0;
    margin-left: 10px;
} */
nav {
    width: 414px;
    height: 90px;
    position: absolute;
    top: 0;
    z-index: 1;
    text-transform: uppercase;  
   
}



/* menu {
    position: absolute;
    top: 10px;
    width: 400px;
    background-color: #F2F2F2;
    
} */

menu {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #F2F2F2;
    max-height: 0;
    transition: max-height .2s ease-out;
    
}

 menu li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color:#7ABFBF;
}
.menu a:hover, input:hover {
    background-color: #EB5428;
    color:#F2F2F2;
}
 label {
    cursor: pointer;
    display: block;
    padding: 10px 20px;
    margin-top: -10px;
    position: relative;
    user-select: none;
  
}

label span {
    background-color: #F2F2F2; 
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background-color: #F2F2F2;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;

}
input {
    display: none;
}
input:checked ~ menu {
    max-height: 500px;
   

}
input:checked ~ label span {
    background: transparent;
  

}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before,
input:checked ~ label:not(.steps) span:after {
    top: 0;
}
/*  Main Section and Side Bars*/
#main_Container {
    line-height: 1.5em;
    margin: 3px 8px;
}
/* #main_Container img {
    margin: 0;
} */
/* .search {
    overflow: hidden;
    background-color: #F2F2F2;

}
.search input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;

} */
.right_icon {
    position:absolute;
    margin-left: 310px;
    margin-top: 10px;
}
svg {
    color: #EB5428;
    font-weight: 700;
    

}
.hamburger_left {
    position: absolute;
    margin-top:15px;
    margin-left: 15px;
}

#sideNav {
    margin-top: 20px;
}

#sideNav ul {
    width: 414px;
    display: flex;
    flex-direction: row;
    flex:  0 1 20%;
    font-weight: 700;
    font-size: 16px;    

   
}

.nav_icons ul {
    color: #EB5428;
    font-weight: 700;
    font-size: 16px;
    list-style:none;
    text-transform: capitalize;

   
}
#ingredients {
    line-height: 2em;
}
#directions {
    line-height: 1.5em;
}


#side_Dishes {
    background-color: #7ABFBF;
}
#side_Dishes img {
    width: 25%;
    padding-left: 10px;
}
a:hover, input:hover {
    background-color: #EB5428;
}

menu {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}

label {
    cursor:  pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;

}
label span {
    background-color: #F2F2F2;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #F2F2F2;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

label span:before {
    top: 5px;
}

label span:after {
    top: -5px;
}
input {
    display: none;
}

input:checked ~ menu {
    max-height: 500px;
}

input:checked label span {
    background: transparent;
}

input:checked ~ label span::before {
    transform: rotate(-45deg);
}

input:checked ~ label span::after {
    transform: rotate(45deg);
}
input checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

footer h2 {
    visibility: hidden;
    height: 1px; 
}
.footer-container ul {
    
    display: flex;
    flex-direction: row;
    flex: 0 1 20%;
    text-decoration: none;
   
} 
#social li {
    color: #EB5428;
    font-weight: 700;    
   list-style: none;
    text-transform: capitalize;
    font-size: 16px;

}
#social p {
    width: 414px;
    display: flex;
    justify-content: center;
    font-weight: 700;
}


footer img {
    width: 50%;
    padding-left: 100px;
 
}
svg {
    width:80px;
   
}

@media (min-width: 768px) {
    .container {
        outline: solid black 3px;
        
        width: 768px;   
        display: grid;
       
    }
    .container > * {
        display: grid;
        grid-column: 1 / span 12;
        outline: solid green 3px;
        width: 768px;

    }
  
    .nav-container {
       
        outline: solid blue 3px;
        background-color: #EB5428;
        width: 768px;

        display: grid;
        grid-column : 1 / span 12;
        grid-row: 1;
    
    }
    nav img {
        visibility: visible;
        width: 20px;
    }
   
    .main img {
        width: 768px;
    }
    .nav_icons {
        outline: solid red 3px;

        width: 768px;

        display: grid;   
        grid-column: 1 / span 12;
        justify-content:center;  
    }
    .nav_icons li {
        display: flex;
        flex: 1 1 100px;    
        justify-content: space-between;
    }
   
    
    #sideNav h1 {
        outline: solid orange 3px;

        grid-column: 1 / span 12;
        grid-row: 2;

    }
    #Details {
        outline: solid lightblue 3px;

        /* grid-column: 1 / span 12;
        grid-row: 3; */
    }
    #Ingredients {
        outline: solid lightgreen 3px;
        width: 384px;
        grid-column: 1 / span 5;
        grid-row: 4;
    }
    #Directions {
        outline: solid gray 3px;
        width: 380px;
        float: right;
    }
    #side_Dishes {
        outline: solid yellow 3px;

        grid-column: 1 / span 12;
        grid-row: 6;
    }
    .footer-container {
        outline: solid purple 3px;

        grid-column: 1 / span 12;
        grid-row: 6;
    }
    label {
        cursor:  pointer;
        display: inline-block;
        height: 200px;
        width: 200px;
     
       
        width: 18px;
    }
    label span:before, label span:after {
        background: #F2F2F2;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    
    
    /* label span:before {
        top: 5px;
    }
    
    label span:after {
        top: -5px;
    }
    input {
        display: none;
    }
    
    input:checked ~ menu {
        max-height: 500px;
    }
    
    input:checked label span {
        background: transparent;
    }
    
    input:checked ~ label span::before {
        transform: rotate(-45deg);
    }
    
    input:checked ~ label apan::after {
        transform: arotate(45deg);
    }
    input checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
        top: 0;
    } */
}

@media (min-width: 1280px) {
    .container {
        width: 1280px;
        height: auto;
        display: grid;
        grid-template-columns: 100px repeat(12 1fr);
        grid-template-rows: 400px;
    }

    .logo_Icon {
        grid-column : 1 / span 2;
    }
    menu li {
        grid-column: 3 / span 10;
    }
    .menu li {
      display: inline-block;
       grid-column: 3 / span 10;
        height:auto;
        width: 1280px;

        background-color: aquamarine;
    }








    
}

